body {
    background-color: rgba(33, 75, 134, 0.714);
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.info {
    margin-top: 1em;
    height: 14.0625vw;
    display: flex;
    flex-direction: row;
}

#spectrogram {
    width: 25vw;
    height: 100%;
    border: 1px solid black;
}
#spectrogram canvas {
    width: 100%;
    height: 100%;
}
.side-panel {
    height: 100%;
    border: 1px solid black;
    margin-left: 1em;
    padding-left: .5em;
    padding-right: .5em;
}
#metadata p {
    margin: 0;
}
#metadata h4 {
    margin: 0;
}


.map{
    margin-left: 1em;
    width: 100%;
    height: 100%;
    width: 30em;
    height: 30em;
    border: 1px solid black;
}

.map div {
    position:fixed;
    margin-left:40px;
}


.map p {
    margin-left: 40%;
}